# Complete SQL Course Based on new.txt Content

## Table of Contents
1. [Grouping Data with GROUP BY and Aggregate Functions](#group-by-aggregate)
2. [Filtering Groups with HAVING](#having-filter)
3. [Sorting, Limiting, and Window Functions](#sorting-limiting)
4. [CASE Statements for Conditional Logic](#case-statements)
5. [IN and NOT IN Operators](#in-not-in)
6. [Wildcards with LIKE Operator](#like-operator)
7. [UPDATE Operations](#update-operations)
8. [DELETE and TRUNCATE Operations](#delete-truncate)
9. [SQL Joins: Combining Tables](#sql-joins)
10. [Aggregate Functions and Nested Queries](#aggregate-nested)
11. [Database Fundamentals](#database-fundamentals)
12. [DDL: Creating, Dropping, and Altering Tables](#ddl-operations)
13. [Table Constraints: Ensuring Data Integrity](#table-constraints)
14. [DML: Inserting and Manipulating Data](#dml-operations)
15. [Basic SELECT Queries: Retrieving Data](#basic-select)
16. [SQL Query Languages: DDL, DML, DCL, TCL](#sql-languages)
17. [SQL Data Types and DBMS Variations](#data-types)
18. [SQL Operators, Comments, and Syntax Basics](#sql-operators)
19. [Entity-Relationship (ER) Diagrams](#er-diagrams)
20. [Creating and Dropping Databases and Tables](#create-drop)
21. [SQL Built-in Functions](#sql-functions)
22. [Aggregate Functions for Summarization](#aggregate-summary)
23. [Multi-Column Ordering with ORDER BY and LIMIT](#multi-column-order)
24. [Advanced Queries: Subqueries and Related Selections](#advanced-subqueries)
25. [Practice Resources and Course Tips](#practice-resources)
26. [Why Databases Are Essential](#databases-essential)
27. [Setting Up MySQL Locally with Python](#mysql-python-setup)
28. [Creating Databases and Tables in MySQL](#mysql-create)
29. [CRUD Operations: Hands-On Examples](#crud-examples)
30. [Python Database Helper Class](#python-db-helper)
31. [Implementing Registration and Login in Python](#registration-login)
32. [DBMS Fundamentals: Definition and Architecture](#dbms-fundamentals)
33. [Relational Databases: Structure and Terminology](#relational-databases)
34. [Data Integrity and Constraints](#data-integrity)
35. [Keys: Identifying and Linking Data](#keys-identifying)
36. [Table Relationships and Cardinality](#table-relationships)
37. [Advanced SQL: Aggregations, Grouping, and Analysis](#advanced-sql)
38. [Common DBMS MCQs and Clarifications](#dbms-mcqs)

<a id='group-by-aggregate'></a>
## 1. Grouping Data with GROUP BY and Aggregate Functions

**Concept:** GROUP BY groups rows sharing the same values in specified columns, enabling aggregate operations like counting or summing per group‚Äîthis is essential for summarizing data, such as finding top actors by movie count.

**Mechanism:** First, create groups based on a column (e.g., actor); then apply aggregates (e.g., COUNT of movies) to each group. Building on basic SELECT, this transforms raw data into summaries.

**Example:** To find top 5 actors by number of movies:
```sql
SELECT actor, COUNT(*) AS num_movies 
FROM movies 
GROUP BY actor 
ORDER BY num_movies DESC 
LIMIT 5;
```
This groups all movies by actor, counts per group (e.g., Mithun Chakraborty tops), sorts descending, and limits to 5.

**Why it matters:** Handles repetitive analysis efficiently; without grouping, you'd manually tally each actor's movies across thousands of rows.

**Aggregates:**
- `COUNT(*)` counts rows per group; similarly, `SUM(worldwide_income - budget)` for total profit per genre, `AVG` for averages.

| Aggregate Function | Purpose | Example Output |
|-------------------|---------|----------------|
| `COUNT(*)` | Rows per group | Actor movies: 38 for Akshay Kumar |
| `SUM(expression)` | Total per group | Genre total profit |
| `AVG(expression)` | Average per group | Average profit per director |
| `MIN/MAX` | Extremes per group | Min/max budget per genre |

**üí° Key Insight:** After GROUP BY, non-grouped columns require aggregates; otherwise, only one value per group is arbitrary.

<a id='having-filter'></a>
## 2. Filtering Groups with HAVING

**Concept:** HAVING filters after GROUP BY, unlike WHERE (which filters before); use for group-level conditions like "average screens > threshold."

**Mechanism:** GROUP BY first ‚Üí aggregates computed ‚Üí HAVING applied ‚Üí results filtered. Connects to GROUP BY by acting on group summaries.

**Example:** Actors with average opening screens > 2000:
```sql
SELECT actor, AVG(opening_screens) 
FROM movies 
GROUP BY actor 
HAVING AVG(opening_screens) > 2000 
ORDER BY AVG(opening_screens) DESC;
```
Outputs recent actors like Deepika Padukone (3701 avg).

**Why it matters:** Enables complex analytics, e.g., high-performers only; WHERE can't filter aggregates.

**Nuance:** Improves readability in multi-line queries; no CHECK constraint confusion (CHECK is for table creation).

**‚ö†Ô∏è Warning:** WHERE before GROUP BY (row-level); HAVING after (group-level)‚Äîcommon mix-up leads to errors.

<a id='sorting-limiting'></a>
## 3. Sorting, Limiting, and Window Functions

**Concept:** ORDER BY sorts results (ASC/DESC); LIMIT caps rows (e.g., top N).

**With aggregates:** ORDER BY aggregate DESC LIMIT 5 for rankings.

**Works on:** Numbers, characters, dates‚Äîe.g., lexicographical MIN/MAX on titles.

**Example:** Top genre by profit: GROUP BY genre, SUM(profit), ORDER BY DESC.

**‚ÑπÔ∏è Note:** Aggregate like COUNT works on both numeric/character columns; SUM/AVG don't on non-numeric.

<a id='case-statements'></a>
## 4. CASE Statements for Conditional Logic

**Concept:** CASE creates custom columns with if-then-else logic, like categorizing movies by profit.

**Mechanism:** `CASE WHEN condition THEN value ... ELSE value END AS column`‚Äîevaluated row-wise.

**Example:** Categorize profit:
```sql
SELECT title, (worldwide_income - budget) AS profit, 
    CASE 
        WHEN profit < 0 THEN 'Flop' 
        WHEN profit <= 125 THEN 'Average' 
        WHEN profit <= 225 THEN 'Hit' 
        ELSE 'Superhit' 
    END AS verdict 
FROM movies;
```
Outputs e.g., Agneepath: 123 Cr, Superhit.

**Why it matters:** Turns raw numbers into insights (e.g., performance labels); builds on aggregates for summaries.

<a id='in-not-in'></a>
## 5. IN and NOT IN Operators

**Concept:** IN checks membership in a list/set; efficient for multiple OR conditions.

**Mechanism:** `WHERE genre IN ('Action', 'Horror', 'Drama')`‚Äîfetches 1738 movies vs. multiple ORs.

**NOT IN excludes:** `WHERE genre NOT IN ('Action', 'Horror')`‚Äî1550 other genres.

**Why it matters:** Simplifies queries; scales to many values without repetition.

<a id='like-operator'></a>
## 6. Wildcards with LIKE Operator

**Concept:** LIKE uses wildcards (% any string, _ single character) for pattern matching in strings.

| Pattern | Matches | Use Case |
|---------|---------|----------|
| `'A%'` | Titles starting with A (235 movies: Agneepath) | First letter search |
| `'%MS%'` | Titles containing "MS" (Shift, Tanu Weds Manu) | Substring |
| `'%AB'` | Ending with AB (e.g., certain movies) | End pattern |
| `'_____'` | Exactly 5 characters | Length filter |

**Combined:** `Actor LIKE '%Khan%' OR '%Kapoor%'`‚Äî19 movies.

**Why it matters:** Flexible text search; essential for partial matches.

<a id='update-operations'></a>
## 7. UPDATE Operations

**Concept:** UPDATE modifies existing rows; conditional or bulk.

**Mechanism:** `UPDATE table SET column = value [WHERE condition];`

**Examples:**
```sql
-- Bulk: UPDATE passengers SET name = 'Rahul'; -- all names changed
-- Conditional: UPDATE passengers SET name = 'Rohit' WHERE email LIKE '%gmail%';
-- Multiple columns: SET name = 'Ankit', email = 'abc@email.com' WHERE email LIKE '%yahoo%';
```

**Why it matters:** Data correction; precise with WHERE.

<a id='delete-truncate'></a>
## 8. DELETE and TRUNCATE Operations

**Concept:** DELETE removes rows (conditional); TRUNCATE deletes all (faster, no WHERE).

**Mechanism:** `DELETE FROM table WHERE condition;`

**Examples:**
```sql
-- Single: DELETE FROM passengers WHERE id = 1;
-- Complex: WHERE id > 2 AND email LIKE '%yahoo%';
-- All: DELETE FROM passengers; or TRUNCATE TABLE passengers;
```

**Why it matters:** Data cleanup; TRUNCATE for empty tables (resets auto-increment).

**‚ö†Ô∏è Warning:** DELETE keeps structure/logs; TRUNCATE faster but irreversible without backup.

<a id='sql-joins'></a>
## 9. SQL Joins: Combining Tables

**Concept:** Joins merge tables on common columns; start with CROSS (Cartesian product, rarely useful).

**CROSS JOIN:** Every row pairs with every other (e.g., 4 users √ó 4 groups = 16 combos)‚Äîavoid unless needed.

**INNER JOIN:** Common rows only (Venn overlap).

**Example:**
```sql
SELECT * FROM membership m 
INNER JOIN users u ON m.user_id = u.user_id;
```
Excludes unmatched (e.g., users 5,6).

| Join Type | Includes | Logic | Example Result |
|-----------|----------|-------|----------------|
| INNER | Matching only | Both tables' overlap | Common users/groups |
| LEFT | All left + matching right (NULLs for non-matches) | Left table first | All memberships + users (NULL for missing users 5,6) |
| RIGHT | All right + matching left (NULLs for non-matches) | Right table prioritized | All users + memberships (NULL groups for Abhinav/Rahul) |
| FULL OUTER | All from both (NULLs where no match) | UNION LEFT + RIGHT | All users/groups |

**Self-Join:** Same table twice (aliases):
```sql
SELECT u1.name, u2.name 
FROM users u1 
JOIN users u2 ON u1.emergency_contact = u2.id;
```
Shows employee-manager pairs.

**Multi-Join:** Chain: Membership ‚Üí Users ‚Üí Groups for user-group lists.

**UNION:** Combines result sets (same columns); UNION ALL allows duplicates.

**üí° Key Insight:** Joins require ON condition; specify INNER/LEFT explicitly for clarity.

<a id='aggregate-nested'></a>
## 10. Aggregate Functions and Nested Queries Teased

**Concept:** Aggregates (MIN/MAX nested via GROUP BY for extremes). Subqueries (e.g., nested SELECT) for complex problems like top actor-director combos.

**Why previewed:** Builds on GROUP BY for advanced analytics (e.g., max budget per genre via group then MAX).

<a id='database-fundamentals'></a>
## 11. Database Fundamentals: Why Use Databases Over Files?

**Concept:** Databases are structured systems designed to store, manage, and retrieve data efficiently, addressing limitations of file-based storage for applications like websites and software.

**Key Properties (ACID-like qualities):** Databases ensure Integrity (data accuracy and consistency), Consistency (uniform data across views, e.g., user profiles always available), Availability (data accessible cross-platform like web, Android, iOS), Independence (applications don't depend on physical data structure), and Currency (latest updates visible to all users).

**Why they matter:** These properties prevent issues like inconsistent user data on social networks or mismatched profiles across apps; violations lead to errors or downtime.

**Data is costly:** Reading/writing operations are expensive; real-world example: a student maxed out WhatsApp quality settings, shared widely, causing massive bills‚Äîhighlighting data management costs in industry.

**File Limitations (Why Not Files?):** Files lack structure (program depends on physical format, e.g., parsing email/password with delimiters), complex retrieval (open/search entire file), poor concurrency (multiple users corrupt data), no fine-grained access control (all-or-nothing access), and redundancy (repetition wastes space).

**Analogy:** Storing passwords in text files forces custom parsing (e.g., delimiter between email/password), risking errors if format changes.

**When to Use Files:** Offline storage (e.g., WhatsApp chat history readable without internet), overwrite-heavy data (e.g., city sensors updating every 5 minutes, discard old), logs (non-critical, sequential crash dumps).

**Connection:** Files suffice for simple, low-concurrency needs but fail for web/apps requiring ACID properties‚Äîleading to databases as the solution.

**üí° Key Insight:** "Data is the cost"‚Äîindustry prioritizes reliable storage; files for edge cases only.

<a id='ddl-operations'></a>
## 12. DDL: Creating, Dropping, and Altering Tables

**Concept:** DDL (Data Definition Language) manages database structure: CREATE, DROP, ALTER, TRUNCATE.

**CREATE TABLE:** Defines table with columns and data types (e.g., INT, VARCHAR(255)).

```sql
CREATE TABLE users (
  id INT,
  name VARCHAR(255),
  email VARCHAR(255),
  password VARCHAR(255)
);
```

**How it works:** List columns after table name, specify types, end with semicolon; auto-creates in current database.

**Example:** `CREATE TABLE users (id INT, name VARCHAR(50), email VARCHAR(100));`

**DROP TABLE:** Deletes entire table and data.

```sql
DROP TABLE users;
```

**Warning:** Irreversible; use via GUI (Operations > Drop) or command.

**TRUNCATE TABLE:** Empties data but keeps structure (faster than DELETE).

```sql
TRUNCATE TABLE users;
```

**ALTER TABLE:** Adds/modifies/removes columns or constraints.

```sql
-- Add column: ALTER TABLE students ADD COLUMN college VARCHAR(100) NOT NULL;
-- Modify column: ALTER TABLE students MODIFY COLUMN age INT;
-- Rename column: ALTER TABLE students CHANGE COLUMN admin teacher VARCHAR(50);
```

**Significance:** DDL builds schema foundation; errors here cascade to queries/data integrity.

<a id='table-constraints'></a>
## 13. Table Constraints: Ensuring Data Integrity

**Concept:** Constraints enforce rules on data insertion/updates, maintaining integrity during CREATE or ALTER. Six main types:

| Constraint | Purpose | Example Syntax | Effect if Violated |
|------------|---------|----------------|-------------------|
| NOT NULL | Column cannot be empty | `name VARCHAR(50) NOT NULL` | Rejects NULL inserts |
| UNIQUE | No duplicate values in column | `email VARCHAR(100) UNIQUE` | Blocks duplicates, allows one NULL |
| PRIMARY KEY | Unique identifier (NOT NULL + UNIQUE) | `id INT PRIMARY KEY` or `PRIMARY KEY (id)` | Rejects duplicates/NULL; auto-indexed |
| FOREIGN KEY | Links to another table's PK | `FOREIGN KEY (user_id) REFERENCES users(id)` | Prevents orphans; blocks deletes if referenced |
| DEFAULT | Auto-fills if no value | `gender VARCHAR(10) DEFAULT 'Male'` | Inserts default on omit |
| AUTO_INCREMENT | Auto-increments numeric PK | `id INT AUTO_INCREMENT PRIMARY KEY` | Next insert gets +1 (e.g., 1,2,3...) |

**How PRIMARY KEY works:** Two ways‚Äîinline (`id INT PRIMARY KEY`) or separate (`PRIMARY KEY (id)`); composite possible (multi-column).

**FOREIGN KEY Example:** Orders table references Users(id); deleting user fails if orders exist (protects referential integrity).

**DEFAULT Example:** `CREATE TABLE passenger (..., join_time DATETIME DEFAULT CURRENT_TIMESTAMP);` auto-fills current time.

**Applying Later:** `ALTER TABLE passenger ADD CONSTRAINT uk_email UNIQUE (email);`

**Dropping Constraints:** `ALTER TABLE table_name DROP INDEX constraint_name;` (rebuild table if needed).

**Connection:** Constraints build on DDL‚Äîapply during CREATE for prevention; ALTER for fixes. Misuse causes insert failures (e.g., duplicate email).

**‚ö†Ô∏è Warning:** PRIMARY KEY implies NOT NULL + UNIQUE; FOREIGN KEY needs referenced table first.

<a id='dml-operations'></a>
## 14. DML: Inserting and Manipulating Data

**Concept:** DML (Data Manipulation Language) handles data: INSERT, UPDATE, DELETE (focus on INSERT here).

**INSERT INTO:** Adds rows.

```sql
INSERT INTO students (id, name, college, email) 
VALUES (1, 'Rahul', 'ABC', 'rahul@gmail.com');
```

**Multi-row:**
```sql
INSERT INTO students VALUES 
(1,'Rahul','ABC','rahul@gmail.com'), 
(2,'Priya','XYZ','priya@gmail.com');
```

**Partial columns:** List columns, provide values; others use DEFAULT/NULL.

**Constraints in Action:** Duplicate PRIMARY KEY/UNIQUE fails (e.g., repeat email); NOT NULL rejects empties.

**Significance:** Safe inserts rely on constraints; multi-row speeds bulk loads.

<a id='basic-select'></a>
## 15. Basic SELECT Queries: Retrieving Data

**Concept:** SELECT fetches data; foundation for analysis.

```sql
-- All Data
SELECT * FROM train;  -- (or table like titanic passengers)

-- Specific Columns
SELECT name, sex FROM train;

-- Aliases (AS)
SELECT name AS passenger_name, sex AS gender FROM train;

-- Arithmetic
SELECT name, age + 102 AS current_age FROM train WHERE survived = 0;  -- (Titanic survivors aged to 2018)

-- DISTINCT
SELECT DISTINCT sex FROM train;  -- Removes duplicates

-- Combinations
SELECT class, box FROM train;  -- (unique class-box pairs)

-- WHERE Clause (Filters rows)
SELECT * FROM train WHERE age = 100;
SELECT * FROM train WHERE class='1st' AND embarked='S';
SELECT * FROM train WHERE age BETWEEN 10 AND 15 AND class='1st';

-- ORDER BY & LIMIT (Sort + top N)
SELECT actor, profit FROM movies 
GROUP BY actor 
ORDER BY profit DESC 
LIMIT 5;

-- Example: Top 5 actors by profit (profit = worldwide‚àíbudget): Salman, Aamir, etc.

-- Subquery for Filtering: Extract top actors first, then their movies
SELECT actor FROM (
    SELECT actor, SUM(worldwide - budget) AS profit 
    FROM movies 
    GROUP BY actor 
    ORDER BY profit DESC 
    LIMIT 5
) AS top_actors;
SELECT * FROM movies WHERE actor IN (subquery_above);
```

<a id='sql-languages'></a>
## 16. SQL Query Languages: DDL, DML, DCL, and TCL

**Concept:** SQL divides queries into four major categories, essential for all database work: Data Definition Language (DDL) for defining database structure, Data Manipulation Language (DML) for handling data, Transaction Control Language (TCL) for managing transactions, and Data Control Language (DCL) for permissions. These form the foundation‚Äîmaster them first because DDL structures your data, DML populates and queries it, TCL ensures changes are atomic (all or nothing), and DCL secures access.

| Language | Purpose | Key Commands | Example Use Case |
|----------|---------|--------------|------------------|
| **DDL** (Data Definition Language) | Define/modify database schema | CREATE (create objects), ALTER (modify), DROP (delete), TRUNCATE (empty data) | CREATE TABLE to build tables; DROP DATABASE to remove a database |
| **DML** (Data Manipulation Language) | Manipulate data rows | INSERT (add rows), UPDATE (modify), DELETE (remove), SELECT (retrieve) | SELECT * FROM users to fetch data‚Äîthe most frequent command |
| **TCL** (Transaction Control Language) | Control transaction integrity | COMMIT (save changes), ROLLBACK (undo) | COMMIT after successful updates in a Python app; ROLLBACK if errors occur |
| **DCL** (Data Control Language) | Manage permissions | GRANT (give access), REVOKE (revoke) | GRANT SELECT ON table TO user for read-only access |

**üí° Key Insight:** Transactions via TCL ensure ACID properties‚Äîeither complete all changes or none, preventing partial failures.

<a id='data-types'></a>
## 17. SQL Data Types and DBMS Variations

**Concept:** SQL uses data types like programming languages (e.g., Python's int, str), but implementations vary across DBMS like MySQL, PostgreSQL. In MySQL (focus here), common types include:

- `CHAR(n)` or `VARCHAR(n)`: Fixed/variable-length strings (e.g., names up to 255 chars)
- `INT`: Integers (e.g., customer ID)
- `DECIMAL(p,s)` or `FLOAT/DOUBLE`: Precise decimals (e.g., ratings like 4.2)
- `DATE, TIME, DATETIME`: Temporal data
- `BLOB`: Binary large objects (files, images)

**Why variations matter:** MySQL has TINYINT (0-255), but Oracle might differ‚Äîcheck w3schools.com/sql/sql_datatypes.asp for DBMS-specific lists. Use VARCHAR(255) for emails/addresses to avoid overflow; INT for IDs to enable math/search.

<a id='sql-operators'></a>
## 18. SQL Operators, Comments, and Syntax Basics

**Arithmetic Operators:** `+`, `-`, `*`, `/`, `%` (modulo)‚Äîlike programming, but % for remainder (e.g., runtime % 60 for minutes).

**Comparison Operators:** `=`, `!=`, `>`, `<`, `>=`, `<=`, `LIKE` (pattern matching).

**Logical Operators:** `AND`, `OR`, `NOT` (e.g., `WHERE genre = 'Action' AND profit > 0`).

**Comments:**
```sql
-- Single-line comment
/* Multi-line 
   comment block */
```
Improves readability without affecting execution.

**‚ö†Ô∏è Warning:** Keywords (e.g., SELECT) are case-insensitive, but use UPPERCASE for readability. NOT mandatory, but standard.

<a id='er-diagrams'></a>
## 19. Entity-Relationship (ER) Diagrams for Database Design

**Concept:** ER diagrams visualize database structure before coding‚Äîcrucial for non-technical stakeholders or schema planning (called "schema designing"). Use free online tool dbdiagram.io (search "dbdiagram.io"):

**Steps:**
1. Sign up (Google login, free tier allows 3 docs)
2. New > Start with template > Search "ER diagram" > Select "Database ER Diagram"
3. Define entities (real-world objects like tables: Customer, Restaurant, Food, Order) from problem context (e.g., Zomato app)
4. Add attributes (columns) with types (e.g., Customer: cid INT PRIMARY KEY, name VARCHAR(255), email VARCHAR(255), phone VARCHAR(10))
5. Draw relationships with cardinality (1:1, 1:N, N:N):
   - Customer (1) -- Orders (N): One customer, many orders
   - Restaurant (1) -- Orders (N)
   - Orders (N) -- Food (N): Many items per order
6. Export as SQL code‚Äîpaste into MySQL workbench for instant schema

**Example Zomato ER (Simplified):**
- Entities: Customer (cid PK, name, email, phone), Restaurant (rid PK, name, rating DECIMAL, address), Food (fid PK, name, type, price DECIMAL), Orders (oid PK, cid FK, rid FK, time DATETIME)
- Relationships: 1:N Customer-Orders, 1:N Restaurant-Orders, N:N Orders-Food

**Significance:** Builds blueprint‚Äîindustry architects excel here; try for WhatsApp/Zomato apps.

| Cardinality | Meaning | Zomato Example |
|-------------|---------|----------------|
| 1:1 | One-to-one | Rare; e.g., User-Profile |
| 1:N | One-to-many | Customer (1) to Orders (N) |
| N:N | Many-to-many | Orders (N) to Food (N) via junction table |

<a id='create-drop'></a>
## 20. Creating and Dropping Databases and Tables

```sql
-- CREATE DATABASE
CREATE DATABASE IF NOT EXISTS db_name;  -- creates if missing
CREATE DATABASE zomato;  -- Example

-- DROP DATABASE
DROP DATABASE db_name;  -- deletes entirely (irreversible)

-- Multiple: Not directly; run sequentially or use scripts

-- CREATE TABLE: Two ways‚ÄîGUI (drag-drop columns) or SQL
CREATE TABLE users (
    user_id INT PRIMARY KEY,
    name VARCHAR(255),
    age INT
);

-- Building on DDL: PRIMARY KEY enforces uniqueness/indexing for fast searches (no math on phone/email)
```

<a id='sql-functions'></a>
## 21. SQL Built-in Functions: Math, String, and Conversion

**Concept:** Functions process data column-wise. Use on bollywood_movies dataset (3153 movies with title, genre, budget, india_gross, etc.).

**Math/Abs/Conversion:**
- `ABS(x)`: Absolute value (e.g., ABS(india_gross - budget) for profit, hides flops)
- `ROUND(x, d)`: Rounds to d decimals (e.g., ROUND(runtime/60, 1) ‚Üí 2.8 hours)
- `CEIL(x)`: Rounds up (e.g., CEIL(2.1) ‚Üí 3)
- `FLOOR(x)`: Rounds down (e.g., FLOOR(2.9) ‚Üí 2)

**String Functions:**
- `UPPER(str)`/`LOWER(str)`: Case conversion (e.g., UPPER(title))
- `CONCAT(str1, str2)`: Join (e.g., CONCAT(actor, ' - ', director))
- `LENGTH(str)`: Char count (e.g., LENGTH(title) ‚Üí 9 for 'Agneepath')
- `SUBSTR(str, start, len)`: Substring (index 1-based; SUBSTR(title, 1, 5) ‚Üí first 5 chars)

**Example Profit Calc:**
```sql
SELECT title, ABS(india_gross - budget) AS profit FROM bollywood_movies;
```

<a id='aggregate-summary'></a>
## 22. Aggregate Functions for Summarization

**Concept:** Apply math across rows: MAX, MIN, SUM, AVG, COUNT.

```sql
SELECT MAX(budget) FROM bollywood_movies;          -- 215 Cr (Padmaavat)
SELECT SUM(india_gross) FROM bollywood_movies;     -- Total earnings
SELECT AVG(india_gross) FROM bollywood_movies;     -- ~130 Cr avg
SELECT COUNT(*) FROM bollywood_movies;             -- Total rows (3153 movies)
SELECT COUNT(DISTINCT actor) FROM bollywood_movies; -- Unique actors (1094)
```

**‚ö†Ô∏è Warning:** COUNT(*) counts all rows; COUNT(DISTINCT col) ignores duplicates (e.g., 6 vs 4 in [1,2,3,4,5,2]).

<a id='multi-column-order'></a>
## 23. Sorting, Limiting, and Multi-Column Ordering with ORDER BY and LIMIT

```sql
-- ORDER BY col [ASC/DESC]: Sorts results (default ASC)
SELECT title, (worldwide_gross - budget) AS profit 
FROM bollywood_movies 
ORDER BY profit DESC 
LIMIT 5;  -- Top 5 profitable (Baahubali 2 first)

-- Multi-column
ORDER BY genre ASC, title ASC;     -- Genre sorted, then titles alphabetically within genre
ORDER BY genre ASC, title DESC;    -- Genres ASC, titles DESC per genre

-- Connection: Builds on aggregates‚Äîsort profits to find top genres/directors
```

<a id='group-by-having-summary'></a>
## 24. Grouping and Filtering Groups with GROUP BY and HAVING

```sql
-- GROUP BY col: Aggregates per unique value (e.g., total profit per genre)
SELECT genre, SUM(worldwide_gross - budget) AS total_profit
FROM bollywood_movies
GROUP BY genre
ORDER BY total_profit DESC
LIMIT 5;  -- Drama tops (~2000 Cr), then Action

-- HAVING filters groups (post-aggregate, unlike WHERE)
HAVING AVG(profit) > 100;  -- Genres with avg profit >100 Cr

-- Applications:
-- Top actor-director combos: GROUP BY actor, director ‚Üí Salman-Ali Abbas tops
-- Costliest movies: GROUP BY director ‚Üí SS Rajamouli (Baahubali)

| Aggregate Use | Query Pattern | Example Output |
|---------------|---------------|----------------|
| Per Genre Profit | GROUP BY genre, SUM(profit) ORDER BY DESC | Drama: 2000 Cr |
| Unique Counts | COUNT(DISTINCT actor) GROUP BY ? | N/A (global) |
```

<a id='advanced-subqueries'></a>
## 25. Advanced Queries: Subqueries and Related Selections

**Subqueries:** Nest SELECT for comparisons.

```sql
SELECT title, genre, (worldwide_gross - budget) AS profit
FROM bollywood_movies
WHERE profit = (SELECT MAX(worldwide_gross - budget) FROM bollywood_movies);
-- Most profitable movie details
```

**Self-Joins/Self-Reference:** `WHERE m1.title = 'Agneepath';` for row-specific filters. Scales to compare rows (e.g., top per genre).

**Why?** Handles "top N per group" without window functions (covered later?).

<a id='practice-resources'></a>
## 26. Practice Resources and Course Tips

**Datasets:** bollywood_movies, titanic

**Sites:** LeetCode/HackerRank SQL sections; w3schools for basics

**Full Coverage:** DDL/DML first, then functions ‚Üí aggregates ‚Üí GROUP BY. Practice 1000+ problems post-course for interviews. MySQL-focused; watch prior videos for DB advantages/ER tips.

<a id='databases-essential'></a>
## 27. Why Databases Are Essential for Real-World Applications

**Concept:** Databases power dynamic websites and apps like Facebook or custom tools, storing data in structured tables (not directly in the database) to enable scalable operations.

**Significance:** Unlike static files, databases handle CRUD operations (Create/Insert new data, Read/Select existing data, Update modifications, Delete removals)‚Äîevery app interaction (e.g., login, commenting, messaging) maps to one of these, simplifying complex projects via "divide and rule."

**Connection to practice:** Real-world tasks like editing a comment (UPDATE) or deleting a WhatsApp message (DELETE) mirror these operations.

**Think of it like:** A filing cabinet where tables are drawers‚Äîyou organize papers (data) inside drawers, not loose on the floor.

<a id='mysql-python-setup'></a>
## 28. Setting Up MySQL Locally with Python

**Installation:**
1. Install MySQL (lightweight ~30MB server)
2. Access via phpMyAdmin (web interface at localhost/phpmyadmin) for visual management
3. Python library: Install mysql-connector-python via `pip install mysql-connector-python` to connect Python code to MySQL

**Project setup:** Create a folder (e.g., "exercise_leader"), add db_helper.py for database logic

**Why it matters:** Enables programmatic database control (e.g., login/registration) without manual phpMyAdmin entry‚Äîcrucial for data science automation

**Connection basics:** Use host=localhost, user=root, password (default empty or set), database name (e.g., date_of_birth)

**‚ÑπÔ∏è Note:** Always handle connection errors with try-except: print failure message and exit if connection fails (e.g., wrong host/password/database)

<a id='mysql-create'></a>
## 29. Creating Databases and Tables in MySQL

**Concept:** Databases contain tables with columns defining data types/sizes (e.g., INT for digits, VARCHAR for text).

**Steps via phpMyAdmin:**
1. Create database (e.g., date_of_birth)
2. Inside it, create table (e.g., users with user_id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(50), email VARCHAR(50), password VARCHAR(20))

**AUTO_INCREMENT significance:** Automatically assigns unique IDs (e.g., 2001, 2002)‚Äîno manual entry needed, ensures uniqueness like roll numbers

**PRIMARY KEY role:** Uniquely identifies rows (e.g., user_id), prevents duplicates‚Äîbuilding block for all keys

**Think of it like:** Roll numbers in college‚Äîunique, auto-generated, used to fetch student details efficiently

<a id='crud-examples'></a>
## 30. CRUD Operations: Hands-On Examples

**Concept:** All database work revolves around INSERT, SELECT, UPDATE, DELETE‚Äîperformed via phpMyAdmin or code.

| Operation | SQL Command Example | Purpose/Example |
|-----------|---------------------|-----------------|
| **INSERT** (Create) | `INSERT INTO users (name, email, password) VALUES ('Ankit', 'ankit@gmail.com', '1234');` | Add new user‚Äîauto-generates user_id |
| **SELECT** (Read/Search) | `SELECT * FROM users WHERE user_id=2001;` | Fetch specific user (e.g., view details) |
| **UPDATE** | `UPDATE users SET password='newpass' WHERE user_id=2002;` | Modify existing (e.g., change password) |
| **DELETE** | `DELETE FROM users WHERE user_id=2001;` | Remove row‚Äîbut avoid deleting related data |

**Explicit connection:** SELECT uses WHERE for precision (like login check); always specify conditions to avoid affecting all rows

**Why sequence matters:** Operations chain‚ÄîINSERT first, then SELECT/UPDATE/DELETE on existing data

<a id='python-db-helper'></a>
## 31. Python Database Helper Class for Connection Management

**Concept:** Encapsulate connection in a reusable class for clean code separation (MVC pattern: Model for DB, View/Controller for logic/UI).

```python
import mysql.connector
from mysql.connector import Error

class DatabaseHelper:
    def __init__(self):
        try:
            self.connection = mysql.connector.connect(
                host='localhost',
                user='root',
                password='',  # Your password
                database='date_of_birth'
            )
            if self.connection.is_connected():
                print("Connected to MySQL")
        except Error as e:
            print("Error connecting:", e)
    
    def disconnect(self):
        if self.connection.is_connected():
            self.connection.close()
            print("Connection closed")
```

**Usage:** Create `db = DatabaseHelper()` instance‚Äîuse `self.connection` for queries (cursor, execute). Always disconnect after.

**Error handling builds reliability:** Catches invalid credentials/database names.

**Significance:** Separates DB logic‚Äîscale to full apps without rewriting connections.

<a id='registration-login'></a>
## 32. Implementing Registration and Login in Python

**Registration:** Input name/email/password, INSERT into users.

**Code snippet:**
```python
def register(self):
    name = input("Enter name: ")
    email = input("Enter email: ")
    password = input("Enter password: ")
    cursor = self.connection.cursor()
    cursor.execute("INSERT INTO users (name, email, password) VALUES (%s, %s, %s)", (name, email, password))
    self.connection.commit()
    print("Registration successful")
```

**Login:** Input email/password, SELECT WHERE match‚Äîif found, success; else, "Incorrect credentials."

**Search helper:**
```python
def search(self, email, password):
    cursor = self.connection.cursor()
    cursor.execute("SELECT * FROM users WHERE email=%s AND password=%s", (email, password))
    return cursor.fetchone()  # Returns tuple or None
```

**Login flow:** `result = db.search(email, pwd)` ‚Üí if result: print("Login successful") else: "Incorrect."

**Menu-driven app:** Loop for options (1=Register, 2=Login, others=Exit)‚Äîcalls functions accordingly.

**Connection to CRUD:** Registration=INSERT, Login=SELECT‚Äîextends to edit/delete.

**üí° Key Insight:** Use parameterized queries (%s) to prevent SQL injection‚Äîsafe input handling.

<a id='dbms-fundamentals'></a>
## 33. DBMS Fundamentals: Definition and Architecture

**Concept:** DBMS (Database Management System) is software enabling users to define, create, maintain, control access to a database‚Äîa structured data organizer for efficient retrieval/modification.

**Architecture flow:** User/App ‚Üí DBMS ‚Üí Database (on OS). DBMS acts as intermediary, handling requests via API (e.g., SQL).

**Think of it like:** A librarian (DBMS) between you (app) and bookshelves (database)‚Äîmanages borrowing without chaos.

| Functionality | Description | Example |
|---------------|-------------|---------|
| **Data Management** | Store/retrieve/modify data efficiently | Table creation/queries |
| **Integrity/Consistency** | Enforce rules (no duplicates, valid types) | PRIMARY KEY uniqueness |
| **Security** | Control access (users/passwords) | phpMyAdmin user creation |
| **Concurrency** | Multi-user access without conflicts (Transactions: All or nothing‚Äîe.g., rollback on error) | Bank transfer: deduct/add or revert |
| **Backup/Recovery** | Import/export, crash protection | Export to CSV |

**Why it matters:** Overcomes file system limits (data isolation, redundancy, high cost).

<a id='relational-databases'></a>
## 34. Relational Databases: Structure and Terminology

**Concept:** Relational DBMS (RDBMS) like MySQL organize data in tables (relations).

**Key terms:**
- **Tuple (Row):** Single record (e.g., one user)
- **Attribute (Column):** Field (e.g., email)
- **Cardinality:** Number of tuples (rows)
- **Degree:** Number of attributes (columns)

**Non-relational (NoSQL)** like MongoDB for unstructured data (e.g., social networks).

**Connection:** Builds on tables‚Äîkeys/constraints ensure data quality.

<a id='data-integrity'></a>
## 35. Data Integrity and Constraints

**Concept:** Data Integrity maintains accuracy/consistency over data lifecycle.

- **Entity Integrity:** No PRIMARY KEY null/duplicate (e.g., unique user_id)
- **Domain Integrity:** Column data types/restrictions (e.g., INT only for user_id)
- **Referential Integrity:** Foreign keys match parent table (e.g., student branch_code references branches table)‚Äîprevents orphans

**Think of it like:** Rules enforcing "no invalid entries"‚Äîe.g., branch_code must exist in branches.

**‚ö†Ô∏è Warning:** Violating referential integrity orphans data (e.g., deleted branch leaves dangling student references).

<a id='keys-identifying'></a>
## 36. Keys: Identifying and Linking Data

**Concept:** Keys uniquely identify tuples, enable relationships. Scaffold: Super ‚Üí Candidate ‚Üí Primary ‚Üí Others.

| Key Type | Definition | Example (Employee: ID, Name, Email, Gender) |
|----------|------------|---------------------------------------------|
| **Super Key** | Any set uniquely identifying (may have extras) | {ID}, {ID, Email}, {Name, Email, Gender} |
| **Candidate Key** | Minimal super key (no subset works) | {ID}, {Email} (assuming unique) |
| **Primary Key** | Chosen candidate (unique, NOT NULL) | {ID}‚Äîprefer single, non-nullable |
| **Alternate Key** | Unused candidates | {Email} if ID is primary |
| **Foreign Key** | References primary in another table | Student.branch_code ‚Üí Branch.code |
| **Composite Key** | Multi-column candidate/primary | {Operator, Recharge_Type} in recharge_plans |
| **Compound Key** | Includes foreign key(s) | Payment: {Operator, Plan_ID} |
| **Surrogate Key** | Artificial auto-generated (e.g., ID) | Avoids business logic changes |

**Selection rules:** Primary must be unique + NOT NULL + stable (e.g., ID over Aadhaar if nullable).

**Building on integrity:** Keys enforce entity/referential rules.

<a id='table-relationships'></a>
## 37. Table Relationships and Cardinality

**Concept:** Relationships link tables via keys‚Äîvisualize as ER diagrams (underline PK, FK dashed).

**Types:**
- **1:1:** One-to-one (rare, e.g., person-passport)
- **1:N:** One-to-many (e.g., branch ‚Üí students)
- **N:N:** Many-to-many (needs junction table, e.g., students-courses ‚Üí enrollments)

**Cardinality symbols:** 1 (single), N/M (many)‚Äîe.g., branch(1) ‚Üí students(N).

**ER modeling tip:** Start with real-world objects (student, teacher, payment), connect logically.

**N:N resolution:** 3 tables (e.g., Student + Course + Enrollment).

**üí° Key Insight:** Relationships prevent redundancy‚Äîstore once, reference via FK.

<a id='advanced-sql'></a>
## 38. Advanced SQL: Aggregations, Grouping, and Analysis

**Concept:** Use on datasets like movies (title, budget, profit, actor, director, genre).

```sql
-- GROUP BY: Groups rows (e.g., by genre)‚Äîpair with aggregates (SUM, COUNT, MAX)
-- Example: Highest budget movie
SELECT title FROM movies 
GROUP BY title 
HAVING MAX(budget) 
ORDER BY budget DESC 
LIMIT 1;

-- ORDER BY + LIMIT: Sort + top N (e.g., top 5 profitable by genre)
GROUP BY genre 
ORDER BY SUM(profit) DESC 
LIMIT 5;

-- Multi-column GROUP BY: Actor+Director combos
SELECT actor, director, SUM(worldwide_profit) 
FROM movies 
GROUP BY actor, director 
ORDER BY SUM(worldwide_profit) DESC 
LIMIT 2;
```

**Connection to data science:** Enables insights (e.g., most profitable combos)‚Äîfoundation for analysis.

**‚ö†Ô∏è Common Misconception:** GROUP BY creates groups per unique combo‚Äîe.g., GROUP BY title yields one per movie.

<a id='dbms-mcqs'></a>
## 39. Common DBMS MCQs and Clarifications

- **DBMS interface:** Between application and database (not user-database directly)
- **File system disadvantage:** Data isolation (not high cost)
- **DBMS features:** Maintains integrity, multi-user support, recovery (not low cost)
- **Relational data:** Collection of tables/relations
- **ER relationship for N:N:** Foreign keys on both sides in junction table

**These cover core concepts‚Äîpractice on phpMyAdmin/Python for mastery.**

## üéØ Complete SQL Learning Summary

This comprehensive notebook covers all essential SQL concepts from the new.txt content:

1. **Core Querying:** SELECT, WHERE, ORDER BY, LIMIT
2. **Grouping & Aggregation:** GROUP BY, HAVING, aggregate functions
3. **Data Manipulation:** INSERT, UPDATE, DELETE, TRUNCATE
4. **Table Joins:** INNER, LEFT, RIGHT, FULL OUTER, CROSS, Self-Joins
5. **Advanced Features:** CASE statements, Subqueries, Window Functions
6. **Database Design:** ER diagrams, Constraints, Keys, Relationships
7. **Database Management:** DDL, DML, TCL, DCL
8. **Python Integration:** MySQL connector, DatabaseHelper class
9. **Real Applications:** Registration/Login systems, CRUD operations
10. **Best Practices:** Data integrity, Security, Performance optimization

**Total Coverage:** 39 comprehensive sections with detailed explanations, examples, and practical applications!